# PlatformIO
.pio/
.vscode/.browse.c_cpp.db*
.vscode/ipch/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Linux/editor trash
*~
*.swp
*.swo

# Logs
*.log

# Build artifacts
build/
dist/

# Firmware outputs
*.bin
*.elf
*.map

# Secrets
.env
.env.*
*.key
*.pem

# OS files
.DS_Store
Thumbs.db
